<div class="container mt-5"> 
    <div class="row row-cols-1 row-cols-md-5 g-4">
        <div class="col-3 pt-2" *ngFor="let ctaegory of categoryList" (click)="navigate(ctaegory.categoryId)">
            <a>
                <div class="card card-food">
                    <img [src]="ctaegory.photoUrl" class="card-img-top" alt="Pav Bhaji">
                    <div class="card-body">
                        <h5 class="card-title">{{ctaegory.categoryName}}</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>