<div class="container mt-5"> 
    <div class="row">
        <div class="col-4" *ngFor="let item of items"  >
            <div class="card card-food" (click)="navigate(item)"> 
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <img [src]="item.photoUrl" class="card-img-top food-item" alt="Pav Bhaji">
                           
                        </div>
                        <div class="col-7 text-right">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <h4  >{{item.menuItemName}}</h4> 
                            <small>{{item.description |slice:0:35}}</small> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <h4 class=""> {{item.restaurantName}}</h4>
                        </div>
                        <div class="col-7 text-right">
                            <h6  ><i class="fa fa-star-half-o" aria-hidden="true"></i></h6>
                        </div>
                    </div>
                   
                </div>
            </div>  
        </div>
        <div class="col-12 text-center" *ngIf="items.length == 0">
            <h5>No Restaurant Serving At Moment</h5>
        </div>
    </div>
</div>
<!-- <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content"> 
        <div class="modal-header">
          <h4 class="modal-title">Quantity</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div> 
        <div class="modal-body">
            <label>Enter Quantity</label>
            <input type="text" placeholder="Quantity" [(ngModel)]="quantity" class="form-control">
        </div> 
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="addToCart()">Add Item</button>
        </div> 
      </div>
    </div>
  </div> -->